body {
  background-color: rgb(245, 245, 245);
}

@media (max-width: 991px) {
  div .nav {
    text-align: center;
  }
}
/*you better use this! I wasted so much of my life on media queries!*/
@media (max-width: 992px) {
  .posts {  
    padding-left: 165px;
  }
}
@media (max-width: 950px) {
  .posts {  
    padding-left: 160px;
  }
}
@media (max-width: 840px) {
  .posts {  
    padding-left: 140px;
  }
}
@media (max-width: 800px) {
  .posts {  
    padding-left: 150px;
  }
}
@media (max-width: 780px) {
  .posts {  
    padding-left: 140px;
  }
}
@media (max-width: 760px) {
  .posts {  
    padding-left: 130px;
  }
}
@media (max-width: 740px) {
  .posts {  
    padding-left: 130px;
  }
}
@media (max-width: 720px) {
  .posts {  
    padding-left: 130px;
  }
}
@media (max-width: 700px) {
  .posts {  
    padding-left: 120px;
  }
}
@media (max-width: 680px) {
  .posts {  
    padding-left: 110px;
  }
}
@media (max-width: 650px) {
  .posts {  
    padding-left: 100px;
  }
}
@media (max-width: 630px) {
  .posts {  
    padding-left: 90px;
  }
}
@media (max-width: 600px) {
  .posts {  
    padding-left: 80px;
  }
}
@media (max-width: 580px) {
  .posts {  
    padding-left: 70px;
  }
}
@media (max-width: 570px) {
  .posts {  
    padding-left: 60px;
  }
}
@media (max-width: 560px) {
  .posts {  
    padding-left: 50px;
  }
}
@media (max-width: 550px) {
  .posts {  
    padding-left: 40px;
  }
}
@media (max-width: 540px) {
  .posts {  
    padding-left: 30px;
  }
}
@media (max-width: 530px) {
  .posts {  
    padding-left: 20px;
  }
}
@media (max-width: 512px) {
  .posts {  
    padding-left: 1px;
  }
}

.container {
   max-width: 1024px;
  
 }

.date {
    font-size: 15px
}

.img {
    height:150px; 
    width:500px;
}

.footer {
    min-height: 100px;
}

.yellow {
    color: black;
    letter-spacing: 0.35em;
}

.nav {
    word-spacing: 8px;   
}

.nav a {
  font-weight: 600;
}

.grey:link {
    color: #999;
  
}

.grey:hover {
    color: #ffd500;
}

canvas {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
